.header {
  // .header__container

  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;

    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }

  // .header__nav

  &__nav {
    @extend %align;
  }

  // .header__logo

  &__logo {
    color: #000000;
  }

  // .header__list

  &__list {
    display: none;

    margin-right: auto;
    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: 88px;
      margin-right: 84px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
  }

  // .header__item

  &__item {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }

  // .header__link

  &__link {
    @include font(500, 14px, 1.14, 0.02em);
    color: var(--second-text-color);

    @extend %align;

    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:focus,
    &:hover {
      color: var(--link-text-color);
    }
  }

  // .header__contacts

  &__contacts {
    color: var(--main-contacts-color);
    display: none;
    margin-left: auto;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      height: 50%;
    }
    @media screen and (min-width: 1200px) {
      align-items: center;
    }
    // .header__contacts_item

    &_item {
      @media screen and (min-width: 1200px) {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }

  // .header__text

  &__text {
    color: var(--main-contacts-color);

    @extend %align;
    @include font(500, 12px, 1.16, 0.02em);

    color: #757575;

    width: 100%;
    height: 100%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    &:focus,
    &:hover {
      color: var(--link-text-color);
    }

    @media screen and (min-width: 1200px) {
      @include font(500, 14px, 1.14, 0.02em);
    }
  }

  // .header__icon

  &__icon {
    margin-right: 10px;
    cursor: pointer;
    fill: currentColor;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:focus,
  &:hover {
    color: var(--link-text-color);
  }
}
.accent {
  color: var(--link-text-color);
}
.open-menu {
  width: 40px;
  height: 40px;
  background-color: unset;
  cursor: pointer;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    fill: var(--link-text-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu {
  position: fixed;

  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding-top: 48px;
  padding-bottom: 48px;

  &__container {
    padding-left: 40px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 15px;
    background-color: unset;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      fill: var(--link-text-color);
    }
  }
  &__list {
    @include font(500, 40px, 1.17, 0.02em);
    text-align: left;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__link {
    color: #212121;
    &:hover,
    &:focus {
      color: var(--link-text-color);
    }
  }
  .activ {
    color: var(--link-text-color);
  }
  &__contacts {
    margin-bottom: 64px;
  }
  &__contacts_item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
  &__tel {
    @include font(500, 34px, 1.18, 0.02em);

    color: #2196f3;
  }
  &__mail {
    @include font(500, 24px, 1.17, 0.02em);

    color: #757575;
  }
  &__social {
    display: flex;
  }
  &__social_list {
    @include font(500, 18px, 1.22, 0.02em);
    color: #2196f3;
    &:not(:last-child) {
      margin-right: 10px;
    }
    cursor: pointer;
    &:hover,
    &:focus {
      color: var(--link-text-color);
    }
    .network {
      width: 22px;
      height: 0px;
      left: 135px;
      top: 726px;
      margin-left: 10px;

      border: 1px solid rgba(33, 33, 33, 0.2);
      transform: rotate(90deg);
    }
  }
}
