.hero {
  @extend %align;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background: linear-gradient(0deg, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1600px;

  &__title {
    width: 696px;
    @include font(900, 44px, 1.36, 0.06em);

    text-align: center;
    margin: 0 auto 30px;

    text-transform: uppercase;
    color: var(--main-title-color);
  }
}
