.modal {
  width: 528px;
  max-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 1000ms;
  &__btn-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid #0000001a;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    right: 8px;
    @extend %align;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--link-text-color);
    }
  }
  &__title {
    @include font(700, 20px, 1.15, 0.03em);

    text-align: center;
    margin-bottom: 12px;

    color: var(--second-title-color);
  }
  &__form {
    position: relative;
  }
}
.label {
  margin-bottom: 10px;

  &__text {
    display: block;
    margin-bottom: 4px;

    @include font(400, 12px, 1.16, 0.01em);

    color: #757575;
  }
}

.input {
  position: relative;

  &__row {
    width: 100%;
    height: 40px;

    display: block;
    box-sizing: border-box;
    padding-left: 42px;
    padding-right: 12px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    color: var(--main-text-color);

    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--link-text-color);
      cursor: pointer;
      & + .input__icon {
        fill: var(--link-text-color);
      }
    }
    &::placeholder {
      @include font(400, 14px, 1.14, 0.01em);

      color: rgba(117, 117, 117, 0.5);
    }
  }
  &__icon {
    position: absolute;
    top: 11px;
    left: 12px;
    right: 50%;
    fill: var(--second-btn-color);
    /* transform: translateY(50%); */
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.label-coment {
  margin-bottom: 20px;
  &__text {
    display: block;
    margin-bottom: 4px;

    @include font(400, 12px, 1.16, 0.01em);

    color: #757575;
  }
  &__row {
    width: 100%;
    height: 120px;
    padding: 12px 16px;

    resize: none;

    display: block;
    box-sizing: border-box;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    color: var(--main-text-color);

    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--link-text-color);
      cursor: pointer;
      & + .input__icon {
        fill: var(--link-text-color);
      }
    }
    &::placeholder {
      @include font(400, 14px, 1.14, 0.01em);

      color: rgba(117, 117, 117, 0.5);
    }
  }
}

.check {
  @extend %align;

  position: relative;

  &__box {
    &:checked + .check__text .check__item {
      background-color: var(--link-text-color);
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__text {
    font-family: inherit;
    @include font(400, 14px, 1.71, 0.03em);

    color: #757575;

    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  &__item {
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;

    @extend %align;

    position: absolute;
    left: 12px;
    top: 15%;
  }
  &__icon {
    fill: var(--main-btn-color);
  }
  &__link {
    margin-left: 4px;
    text-decoration: underline;
    color: var(--link-text-color);
  }
}

.btn-position {
  margin-top: 30px;
  @extend %align;
}
