:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: #ffffff;
  --link-text-color: #2196f3;
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --main-contacts-color: #757575;
}
